* {
    bg: rgba(5, 5, 5, 0.95);
    btn: rgba(25, 20, 20, 0.8);
    accent: rgba(217, 4, 41, 1.0);
    fg: rgba(255, 255, 255, 0.6);
}

window {
    fullscreen: true;
    background-color: @bg;
    padding: 59px 258px;
}

mainbox {
    background-color: transparent;
    children: [ inputbar, listview ];
}

inputbar {
    margin: 0px 0px 60px 0px;
    children: [ prompt ];
    background-color: transparent;
}

prompt {
    background-color: transparent;
    text-color: white;
    font: "JetBrainsMono Nerd Font Bold 45";
    width: 100%;
    horizontal-align: 0.5;
}

listview {
    background-color: transparent;
    columns: 3;
    lines: 2;
    spacing: 50px;
    fixed-height: true;
    fixed-columns: true;
    cycle: false;
}

element {
    background-color: @btn;
    text-color: @fg;
    border-radius: 40px;
}

element selected {
    background-color: rgba(217, 4, 41, 0.2);
    text-color: white;
    border: 3px solid @accent;
}

element-text {
    font: "JetBrainsMono Nerd Font 160"; 
    background-color: transparent;
    text-color: inherit;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    margin: 45px 0px;
}
